@keyframes slide {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(0%);
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;

  .main-section{
    width: 100%;
    transition: transform 500ms ease;
  }

  .main-section.menu{
    flex-shrink: 0;
    transform: translateX(250px);
    transition: transform 500ms ease;
  }
}

.App.deleteShown::before{
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  background: #151619;
  opacity: 0.5;
}

#darkModeApp{
  background: #151619;
}

#darkModeApp.deleteShown::before{
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  background: #ffffff;
  opacity: 0.5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
